/*variables*/
:root {
    --primary-color: #344966;
    --secondary-color: #cc8b65;
    --tertiary-color: #0d1821;
    --quarternary-color: #fff;
    --quinary-color: #d6e3f8;
    --box-shadow-glow: 0 0 5px 5px #fff;
    --default-margin: 10px;
    --tile-border: 2px solid ##d6e3f8;
  }
  
  /*browser styling*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*end broswer styling*/
  
  /*body styling*/
  body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    background-color: #fff;
  }
  /*end body styling*/