/*variables*/
:root {
    --primary-color: #344966;
    --secondary-color: #cc8b65;
    --tertiary-color: #0d1821;
    --quarternary-color: #fff;
    --quinary-color: #d6e3f8;
    --box-shadow-glow: 0 0 5px 5px #fff;
    --default-margin: 10px;
    --tile-border: 2px solid ##d6e3f8;
  }
  
  /*browser styling*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*end broswer styling*/
  
  /*body styling*/
  body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    background-color: #fff;
  }
  /*end body styling*/

  /*header*/
header,
footer {
  background-color: rgba(53, 72, 102, 0.95);
  display: flex;
  flex-wrap: wrap;
}

header {
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  color: var(--quarternary-color);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.nav-links li {
  list-style: none;
  color: var(--quarternary-color);
  display: inline;
  margin: 5px 20px 5px 20px;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--quarternary-color);
}

.nav-links li:hover {
  background-color: var(--quarternary-color);
  box-shadow: var(--box-shadow-glow);
}

.nav-links li a:hover {
  color: var(--primary-color);
  font-weight: bold;
}
/*end header styling*/

/*main styling*/
main{
  background-color: var(--quinary-color);
  color: var(--tertiary-color);
}

main h2, main h3, main h4 {
  text-align: center;
  margin: 0 auto;
}

main h2 {
margin-top: 40px;
font-size: 40px;
}

main h3 {
  font-size: 35px;
}

main h4 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}

main p, main li{
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
}

.post {
  width: 80%;
  margin: 0 auto;
}

.list {
  width: 90%;
  margin: 0 auto;
}

.li-header{
  font-style: italic;
}

.blog-image{
  margin-top: var(--default-margin);
  margin-bottom: var(--default-margin);
  width: 80%;
  margin-left: 10%;
}

.list-item {
  margin-top: 20px;
}

#p1, #p2, #p3, #p4{
  margin-bottom: var(--default-margin);
}

#p4{
  margin-top: var(--default-margin);
}

#li1{
  margin-top: 15px;
}

#li2ul1, #li2ul2, #li2ul3{
  margin-left: 20px;
}
/*end main styling*/
