/*variables*/
:root {
    --primary-color: #344966;
    --secondary-color: #cc8b65;
    --tertiary-color: #0d1821;
    --quarternary-color: #fff;
    --quinary-color: #d6e3f8;
    --box-shadow-glow: 0 0 5px 5px #fff;
    --default-margin: 10px;
    --tile-border: 2px solid ##d6e3f8;
  }
  
  /*browser styling*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*end broswer styling*/
  
  /*body styling*/
  body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    background-color: #fff;
  }
  /*end body styling*/

  /*header*/
header,
footer {
  background-color: rgba(53, 72, 102, 0.95);
  display: flex;
  flex-wrap: wrap;
}

header {
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  color: var(--quarternary-color);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.nav-links li {
  list-style: none;
  color: var(--quarternary-color);
  display: inline;
  margin: 5px 20px 5px 20px;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--quarternary-color);
}

.nav-links li:hover {
  background-color: var(--quarternary-color);
  box-shadow: var(--box-shadow-glow);
}

.nav-links li a:hover {
  color: var(--primary-color);
  font-weight: bold;
}
/*end header styling*/
