/*variables*/
:root {
  --primary-color: #344966;
  --secondary-color: #cc8b65;
  --tertiary-color: #0d1821;
  --quarternary-color: #fff;
  --quinary-color: #d6e3f8;
  --box-shadow-glow: 0 0 5px 5px #fff;
  --default-margin: 10px;
  --tile-border: 2px solid ##d6e3f8;
}

/*browser styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*end broswer styling*/

/*body styling*/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
}
/*end body styling*/

/*hero styling*/
.hero a,
.nav-links a,
.portfolio a {
  text-decoration: none;
  color: var(--quarternary-color);
}

.hero {
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--primary-color);
  background-image: URL(../images/hero-design2.png);
  background-size: cover;
}

.hero-title {
  text-align: center;
  margin-bottom: var(--default-margin);
}

.hero-title a {
  font-size: 50px;
}

.span-name {
  color: var(--secondary-color);
}

.hero-btn {
  color: var(--quarternary-color);
  background-color: rgba(53, 72, 102, 0.75);
  font-size: 20px;
  justify-self: center;
  align-self: center;
  padding: 2px 2px;
  border: 3px solid var(--quinary-color);
}

.hero-btn:hover {
  color: var(--primary-color);
  background: var(--quarternary-color);
  font-weight: bold;
  box-shadow: var(--box-shadow-glow);
}
/*end hero styling*/

/*header*/
header,
footer {
  background-color: rgba(53, 72, 102, 0.95);
  display: flex;
  flex-wrap: wrap;
}

header {
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  color: var(--quarternary-color);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.nav-links li {
  list-style: none;
  color: var(--quarternary-color);
  display: inline;
  margin: 5px 20px 5px 20px;
  font-size: 20px;
}

.nav-links li:hover {
  background-color: var(--quarternary-color);
  box-shadow: var(--box-shadow-glow);
}

.nav-links li a:hover {
  color: var(--primary-color);
  font-weight: bold;
}
/*end header styling*/

/*main styling*/
main h3 {
  font-size: 30px;
  text-align: center;
  align-self: center;
  margin: 0 auto;
}
/*end main styling*/

/*about section styling*/
.content{
  display: flex;
  margin: 40px auto;
}

.titlediv {
  display: flex;
  width: 15%;
  border-right: 2px solid var(--secondary-color);
  margin-top: var(--default-margin);
  margin-bottom: var(--default-margin);
}

.bio-image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: var(--default-margin) var(--default-margin);
}
#bioinfodiv {
  display: flex;
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

#about-text {
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.25em;
}
/*end about section styling*/

/*portfolio section styling*/
.portfolio {
  display: flex;
  background-color: var(--quarternary-color);
  margin: 40px auto;
}

.tilediv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.portfolioinfodiv {
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.project-title {
  background-color: var(--quinary-color);
  color: var(--tertiary-color);
  font-weight: bold;
  width: 30%;
}

#portfoliotitlediv {
  display: flex;
  background-color: var(--quarternary-color);
}

#tile1 {
  height: 300px;
  width: 80%;
  background-image: URL(../images/quiz.png);
  background-size: cover;
  margin: var(--default-margin) auto var(--default-margin) auto;
  border: var(--tile-border);
}

#tile2 {
  height: 150px;
  width: 80%;
  background-image: URL(../images/password.png);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-margin);
  border: var(--tile-border);
}

#tile3 {
  height: 150px;
  width: 80%;
  background-image: URL(../images/horiseon.png);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-margin);
  border: var(--tile-border);
}

#tile4 {
  height: 150px;
  width: 80%;
  justify-content: center;
  background-image: URL(../images/css100.png);
  background-size: cover;
  background-position: 30% 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-margin);
  border: var(--tile-border);
}

 #tile5 {
  width: 80%;
  height: 150px;
  background-image: URL(../images/technical.png);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-margin);
  border: var(--tile-border);
}

#tile6 {
  width: 80%;
  height: 150px;
  background-image: URL(../images/ice-cream.png);
  background-size: cover;
  border: var(--tile-border);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-margin);
}

#tile7 {
  width: 80%;
  height: 150px;
  background-image: URL(../images/chunky.png);
  background-size: cover;
  border: var(--tile-border);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-margin);
}

#tile8 {
  width: 80%;
  height: 150px;
  background-image: URL(../images/tribute-page.png);
  background-size: cover;
  background-position: center;
  border: var(--tile-border);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-margin);
}

#tile1:hover,
#tile2:hover,
#tile3:hover,
#tile4:hover,
#tile5:hover,
#tile6:hover,
#tile7:hover,
#tile8:hover {
  box-shadow: inset 0 0 100px 70px rgba(53, 72, 102, 0.5);
}
/*end porftolio section*/

/*heroupbutton section*/
.heroupbuttondiv {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

#heroupbutton {
display: flex;
justify-content: center;
align-items: center;
background-color: var(--quinary-color);
height: 50px;
width: 50px;
border-radius: 50%;
margin: var(--default-margin) auto;
}

#heroupbutton:hover {
  color: var(--primary-color);
  background: var(--quarternary-color);
  font-weight: bold;
  box-shadow: var(--box-shadow-glow);
}

#upbutton {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
color: var(--primary-color);
font-weight: bold;
font-size: 1.75em;
}

#arrow {
  text-align: center;
  margin-bottom: 5px;
}

/*end heroupbutton section*/

/*contact section styling*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
#contacttitlediv {
  border-right: none;
  border-bottom:  2px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--quarternary-color);
}

.contact-links {
  margin: var(--default-margin) auto var(--default-margin) auto;
}

.contact-links img {
  width: 50px;
  height: 50px;
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
}

.contact-links img:hover {
  box-shadow: var(--box-shadow-glow);
}
/*end contact section styling*/

/*footer styling*/
footer {
  justify-content: flex-start;
  align-items: center;
  color: var(--quarternary-color);
  font-size: 20px;
  padding: 5px;
}

.footer-name {
  margin: 5px var(--default-margin);
}
/*end footer styling*/

/*media queries*/
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .hero {
    height: 775px;
}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .hero {
    height: 765px;
}

.bio-image {
  height: 200px;
  width: 200px;
}

#about-text {
  font-size: 1em;
}

#tile1 {
  height: 200px;
}
#tile2, #tile3, #tile4, #tile5, #tile6 {
  height: 100px;
}
}

@media screen and (max-width: 638px) {
  header {
    flex-direction: column;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 600px) {
  .section-title{
    font-size: 20px;
  }

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
}

.titlediv {
  align-items: center;
  flex-direction: column;
  border-right: none;
  border-bottom: 2px solid var(--secondary-color);
}

.project-title {
  background-color: var(--quinary-color);
  color: var(--tertiary-color);
  font-weight: bold;
  width: 100%;
  font-size: 15px;
}

}

@media screen and (max-width: 518px) {
  .nav-links li {
    font-size: 15px;
  }
}

@media screen and (max-width: 510px) {
  #about-text {
    font-size: .9em;
  }
}

@media screen and (max-width: 486px) {
  #bioinfodiv {
    width: 90%;
  }
}

@media screen and (max-width: 476px) {
  #portfoliotitlediv {
    width: 17%;
  }
}

@media screen and (max-width: 432px) {
  #abouttitlediv{
    margin-bottom: none;
  }

  #bioinfodiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}