/*variables*/
:root {
  --primary-color: #10030D;
  --secondary-color: #CC8B65;
  --tertiary-color: #44393e;
  --quarternary--color: #E3DCD2;
  --quinary--color: #013328;
}

/*browser styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*element selectors*/
header,
footer {
  display: flex;
  flex-wrap: wrap;
  background-color:rgba(16, 3, 13, .95)
  ;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  color: var(--quarternary--color);
}

body {
  font-family: 'Raleway', sans-serif;
}

main h3 {
    font-size: 30px;
    color: var(--primary-color);
    border-bottom: thick var(--tertiary-color);
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*class selectors*/
.hero {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--primary-color);
  background-size: cover;
}

.hero-title{
  justify-self: center;
  align-self: center;
}

.hero-title a {
  color: var(--quarternary--color);
  font-size: 50px;
  text-decoration: none;
}

.span-name {
  color: var(--secondary-color);
}

.hero-btn {
  color: var(--quarternary--color);
  font-size: 20px;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  padding: 2px 2px;
  border: 3px solid var(--quinary--color);
}

.nav-links {
  list-style: none;
}

.nav-sections li {
  text-decoration: none;
}

.about-section {
display: flex;
flex-wrap: wrap;
width: 75%;
justify-content: space-evenly;
}

.bio-image {
  justify-self: flex-start;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow:rgba(16, 3, 13, .95);
}
